@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/*navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #08C539;
    overflow: hidden;
    font-family: 'Mukta Malar', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #16FF75;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #078528;
    color: white;
}
/*logo*/
#logo {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  border-color: white;
}
/*species*/
body{
  background-color: #EFFFFF;
}
.container {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #09B800;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  padding: 16px 32px;
}
